export APP_DATABASE_HOST=localhost
export APP_DATABASE_PORT=5432
export APP_DATABASE_NAME=exampleapp
export APP_DATABASE_USERNAME=exampleapp
export APP_DATABASE_PASSWORD=exampleapp
export APP_DATABASE_SSLMODE=disable
export APP_DATABASE_URI=postgres://$APP_DATABASE_USERNAME:$APP_DATABASE_PASSWORD@$APP_DATABASE_HOST/$APP_DATABASE_NAME?sslmode=$APP_DATABASE_SSLMODE
